<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AzureStorageConnectionString" value="" />
    <add key="TaskHubName" value="SamplesHub" />
    <add key="LogDtfCoreEventTraces" value="true" />
    <add key="LogAzureStorageTraces" value="false" />
  </appSettings>
</configuration>
